# Ignoruj wszystko w bin i obj
bin/*
obj/*

# Śledź tylko Twój EXE
!bin/Debug/net8.0/nwmCoTo.exe

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
.nuget/

# OS files
.DS_Store
Thumbs.db

# Logi i tymczasowe
*.log

# Lokalny token i prompt (nie wrzucamy do repo)
token.txt
teachingPrompt.txt
